body{
    background-image: url("images/honeycomb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin:0;
    overflow-x:hidden;
    min-height:calc(100vh - 32px); /*pentru footer, sa ramana jos*/
    padding-bottom:47px;
    position:relative;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

div.Continut
{
    background-color: #e6e6e6;
    color: black;
    text-align:left;
    margin-top:80px;                 /* frame-ul gri pe care se afla content-ul*/
    margin-left:4%;
    margin-right:4%;
    border-radius: 100px;

}

.ScrisCentruH2
{
    margin-left: 100px;              /* alineat header */

}


.ScrisCentruP
{
    text-align: left;
    margin-left: 5%;              /* alineat paragraf */

}


.TitluPagT
{
    text-align: center;	/* titlu pagini content */

}

div.HomeInfo
{
    background-color: #e6e6e6;
    color: black;
    text-align:left;
    margin:100px 0 0 50px;                 /* zona continut(nume) homepage*/
    border-radius: 30px;
    background: rgba(211,25,49,0.8);
	  max-width:450px;
	  width:90%;
}

.HomeTitle
{
    padding-top:100px; /* titlul de pe homepage */
    font-size:2.5em;
    margin-left: 150px;
    color: white;
}
.ScrisHomeInfo
{
    text-align: left;
    margin-left: 50px;
    margin-bottom:5px;
    color: gainsboro;
}

.Down{
    /*overflow: hidden;*/                  /* footer */
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom:0;
    width: 100%;
    text-align:center;
    font-size:16px;
    line-height:32px;
    color: white;
}

@media screen and (max-width:1080px){

	div.HomeInfo {
		margin: 50px auto;
	}

  div.containerFacebookPost{
    margin-left: 1%;
    margin-right: 1%;
  }

  div.containerSkills{
    margin-left: 1%;
    margin-right: 1%;
  }
}

.carousel-inner img {
    width: 100%;
    height: 100%;

  }

  @media all and (min-width: 1px) {
  	.navbar .nav-item .dropdown-menu{ display: none; }
  	.navbar .nav-item:hover .nav-link{ color: #fff;  }
  	.navbar .nav-item:hover .dropdown-menu{ display: block; }
  	.navbar .nav-item .dropdown-menu{ margin-top:0; }
  }


  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: RGB(33, 37, 41);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: RGB(211, 25, 49);
}

/* Add a background color and some padding around the form */
.containerContact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.containerSkills{
  margin-left: 5%;
  margin-right: 70%;

}

.containerFacebookPost{
  margin-left: 37%;
  margin-right: 37%;
  overflow: hidden;
}

.containerYouTube{
  margin-left: 5%;
  margin-right: 5%;
  overflow:hidden;
}

.responsivePhoto{
  width: 100%;
  max-width: 1300px;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 10%;
}



.map-responsive{
    margin-left: 5%;
    margin-right: 5%;
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    height:100%;
    width:100%;
    position:absolute;
}

.fb-comments, .fb-comments iframe[style]{
  width:100% !important;
  height: 300px !important;
  background: #e6e6e6 !important;
}
