body{
    background-image: url("images/honeycomb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin:0;
    overflow-x:hidden;
    min-height:calc(100vh - 32px); /*pentru footer, sa ramana jos*/
    padding-bottom:47px;
    position:relative;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

div.Continut
{
    background-color: #e6e6e6;
    color: black;
    text-align:left;
    margin-top:80px;                 /* frame-ul gri pe care se afla content-ul*/
    margin-left:80px;
    margin-right:80px;
    border-radius: 100px;

}

.ScrisCentruH2
{
    margin-left: 100px;              /* alineat header */

}


.poze
{
    margin-left:150px;
}

.ScrisCentruP
{
    text-align: left;
    margin-left: 50px;              /* alineat paragraf */

}


.TitluPagT
{
    text-align: center;	/* titlu pagini content */

}

div.HomeInfo
{
    background-color: #e6e6e6;
    color: black;
    text-align:left;
    margin:100px 0 0 50px;                 /* zona continut(nume) homepage*/
    border-radius: 30px;
    background: rgba(211,25,49,0.8);
	max-width:450px;
	width:90%;
}

.HomeTitle
{
    padding-top:100px; /* titlul de pe homepage */
    font-size:2.5em;
    margin-left: 150px;
    color: white;
}
.ScrisHomeInfo
{
    text-align: left;
    margin-left: 50px;
    margin-bottom:5px;
    color: gainsboro;
}

.Down{
    /*overflow: hidden;*/                  /* footer */
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom:0;
    width: 100%;
    text-align:center;
    font-size:16px;
    line-height:32px;
    color: white;
}

@media screen and (max-width:1080px){

	div.HomeInfo {
		margin: 50px auto;
	}
}

.carousel-inner img {
    width: 100%;
    height: 100%;

  }
